#!/bin/bash

keys_file=.envrc-local

[ ! -f ${keys_file} ] && cp ${keys_file}.template ${keys_file}
source ${keys_file}

[ -z "${ETL_API_TOKEN}" ] || [ -z "${ETL_API_ACCOUNT_NAME}" ] \
  && echowarn "If you want to develop the etl locally, make sure to set the correct environment variables in ${keys_file}." \
  && echowarn "Contact Thomas de Groot if you need specific keys. Make sure you do not commit them! (${keys_file} is git-ignored)"

source .paths
